body 
{
    margin: 0;
    font-family: 'trebuchet ms', arial, sans-serif;
    color: #FFF;
}

h1 a, h2, h3{
    font-family: 'Century Gothic', arial, sans-serif;
}

h1 a, h2, h3, h4, h5
{
    color: #362C20;
    font-weight: normal;
}

#header
{
    padding: 0 16px 0 33px;
    background-color: #000;
    border-bottom: 1px solid #3d3d3d
}

#header h1
{
    margin: 0;
    letter-spacing: 3px;
    font-size: 18px;
}

#header h2
{
    margin: 0;
    padding-bottom: 38px;
    font-size: 7px;
    color: #a69083;
    font-weight: normal;
}

#logo
{
    background: #1d1d1d; 
    position: relative;
}

#logo #logo_text 
{ 
    padding-left: 8px;
}

#menubar 
{
    padding-right: 8px; 
    background: #2D2D2D; 
    border-top: 1px solid #3D3D3D;
}

ul#menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

ul#menu li
{
    background-color: #5b4239;
    padding: 0.25rem 10px;
    list-style: none;
    margin: 3.5px;
    font-size: 6px;
}

ul#menu li a
{
    font-size: 6px;
    color: #FFF;
}

ul#menu li.selected
{
    background-color: #b48a7e;
}

#banner
{
    margin: 9px 0;
    background: transparent url(../img/banner.jpg) no-repeat; 
    background-size: cover;
    border: 5px solid #DDD;
    height: 180px;
} 

#content li, .sidebar li 
{
    background: url(../img/bullet.png) no-repeat;
    list-style: none;
    padding-left: 11px;
    margin-bottom: 4px;
}

a
{
    color: #a3908c;
}

#logo_text
{
    padding-left: 4px;

}
#menu
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0;
}

#menu li
{
    background-color: #5b4239;
    padding: 0.25rem 10px;
    list-style: none;
    margin: 3.5px;
    font-size: 6px;
}
#header a
{
    text-decoration: none;
    color: white;
}
#menu li:hover 
{
    background-color: #b48a7a;
}

#site_content
{
    margin: 0 7.5px 0 16.5px;
    background-color: white;
}

#sidebar_container
{
    width: 75px;
    display: inline-block;
}

.sidebar_item
{
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 6.5px;
    margin-bottom: 7.5px;
    
}
.sidebar_item h3
{
    font-size: 8px;
}

.sidebar_item h3,h5
{
    margin-top: 0;
}
.sidebar_item h4
{
    margin-bottom: 2.5px;
    text-transform: uppercase;
    color: #ccaba4;
    font-size: 7px;
}

.sidebar_item h5
{
    color: #868d93;
    font-size: 5.5px;
}

.sidebar_item p
{
    line-height: 0.75;
}

ul
{
    padding-left: 0;
}
#content
{
    padding: 0 17px;
    display: inline-block;
    position: absolute;
}

#content h1
{
    font-size: 10px;
}

#content h2
{
    color: #b69a96;
    font-size: 10px;
    margin-top: 20px;
}


#footer
{
    margin: 0 10.5px;
    margin-bottom: 19px;
    height: 42px;
    background-color: black;
    color: white;
}

#footer p
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 4.5px 0 0 0;
    font-size: 6px;
    color: white;
}


p, li
{
    font-size: 6px;
    color: #52575A;
}