@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.slide {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.slide .div {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  position: relative;
}

.slide .overlap {
  left: 504px;
  position: absolute;
  width: 308px;
  height: 1080px;
  top: 0;
}

.slide .overlap-group {
  left: 0;
  position: absolute;
  width: 308px;
  height: 870px;
  top: 0;
  border-right: solid 1px #A8A8A8;
}

.slide .rodrigo-murillo-ba {
  position: absolute;
  width: 308px;
  top: 207px;
  left: 0;
  background: linear-gradient(180deg, rgb(0, 86.7, 255) 0%, rgb(111.56, 220.58, 255) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .line {
  position: absolute;
  width: 1px;
  height: 1080px;
  top: 0;
  left: 307px;
  object-fit: cover;
}

.slide .text-wrapper {
  position: absolute;
  width: 265px;
  top: 324px;
  left: 43px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide .text-wrapper-2 {
  position: absolute;
  width: 262px;
  top: 409px;
  left: 46px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.slide .IMG {
  position: absolute;
  width: 135px;
  height: 135px;
  top: 48px;
  left: 0;
  object-fit: cover;
}

.slide .vector {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 334px;
  left: 0;
}

.slide .img {
  height: 36px;
  top: 412px;
  position: absolute;
  width: 36px;
  left: 0;
}

.slide .vector-2 {
  height: 43px;
  top: 493px;
  position: absolute;
  width: 36px;
  left: 0;
}

.slide .p {
  position: absolute;
  width: 254px;
  top: 465px;
  left: 46px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .text-wrapper-3 {
  position: absolute;
  width: 209px;
  height: 45px;
  top: 47px;
  left: 841px;
  background: linear-gradient(180deg, rgb(96.9, 0, 255) 0%, rgb(204, 0, 255) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .text-wrapper-4 {
  position: absolute;
  width: 426px;
  height: 45px;
  top: 384px;
  left: 841px;
  background: linear-gradient(180deg, rgb(11.22, 140.25, 0) 0%, rgb(173.4, 255, 0) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .text-wrapper-5 {
  position: absolute;
  width: 426px;
  height: 45px;
  top: 650px;
  left: 841px;
  background: linear-gradient(180deg, rgb(255, 46, 0) 11.96%, rgb(255, 214, 0) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Interd", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .i-e-s-valle-del-oja {
  position: absolute;
  width: 479px;
  top: 97px;
  left: 839px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
}

.slide .span {
  font-weight: 700;
  line-height: 24px;
}

.slide .text-wrapper-6 {
  font-family: "Inter", Helvetica;
  font-size: 12px;
  line-height: 12px;
}

.slide .text-wrapper-7 {
  font-family: "Inter", Helvetica;
  font-size: 12px;
  line-height: 15px;
}

.slide .text-wrapper-8 {
  font-weight: 700;
  font-size: 24px;
  line-height: 15px;
}

.slide .text-wrapper-9 {
  font-family: "Inter", Helvetica;
  font-size: 12px;
}

.slide .text-wrapper-10 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.slide .text-wrapper-11 {
  font-weight: 700;
  font-size: 12px;
}

.slide .text-wrapper-12 {
  font-family: "Inter", Helvetica;
  font-size: 12px;
  line-height: 0.1px;
}

.slide .text-wrapper-13 {
  font-family: "Inter", Helvetica;
  font-size: 24px;
  line-height: 0.1px;
}

.slide .text-wrapper-14 {
  font-family: "Inter", Helvetica;
  font-size: 24px;
  line-height: 15px;
}

.slide .lenguajes-de {
  position: absolute;
  width: 410px;
  top: 413px;
  left: 841px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
}

.slide .text-wrapper-15 {
  font-weight: 700;
}

.slide .element {
  position: absolute;
  width: 410px;
  top: 669px;
  left: 839px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
